.login-form {
    max-width: 300px;
    margin: 0 auto;
}
#email{
    margin-bottom: -1px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;

}
#username{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

}
.login-container {
    margin-top: 100px;
    background-color: floralwhite;
    width: 40%;
    left: 30%;
    position: absolute;
}


body {
    background-image: url('mumlogo.jpg');

}
